@model IEnumerable<CinemaManager1.Models.Cinema.Producer>

@{
    ViewData["Title"] = "ProdsAndTheirMovies_UsingModels";
}

<h1>Producers and Their Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Nationality)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>Movies</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Nationality)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    @if (item.Movies != null && item.Movies.Any())
                    {
                        <ul>
                            @foreach (var movie in item.Movies)
                            {
                                <li>@movie.Title - @movie.Genre</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No movies available</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
